{% extends 'base.html.twig' %}

{% block title %}Connexion{{ parent() }}{% endblock %}

{% block stylesheets %}{{ asset('build/connexion.css') }}{% endblock %}

{% block body %}

    <h1 class="titre margin-left">Connexion</h1>
    <div class="titre-separation margin-left"></div>

    <div class="form-container">
        <form action="{{ path('security_login') }}" method="post">
            <div class="OAuth-connect facebook-connect" title="Prochainement"><img src="{{ asset('images/facebook_login.png') }}" alt="Icône Google" class="OAuth-connect-img"/>Se connecter avec Facebook</div>

            <div class="OAuth-connect google-connect" title="Prochainement"><img src="{{ asset('images/google_login.png') }}" alt="Icône Google" class="OAuth-connect-img"/>Se connecter avec Google</div>

            {% if error %}
                <div class="error-container">
                    <p>Aïe, erreur d'authentification: nom d'utilisateur ou mot de passe incorrect</p>
                </div>
            {% endif %}

            <div class="form-group">
                <input placeholder="Nom d'utilisateur" type="text" id="username" name="_username" value="{{ last_username }}" class="form-username form-input"/>
            </div>

            <div class="form-group">
                <input placeholder="Mot de passe" type="password" id="password" name="_password" class="form-mdp form-input" />
            </div>

            <div class="form-bottomcontainer">
                <div class="form-rememberme-container">
                    <input type="checkbox" class="form-rememberme" id="remember_me" name="_remember_me" checked />
                    <label for="remember_me"><span></span>Se souvenir de moi</label>
                </div>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

            <button type="submit" class="form-submit">Connexion</button>
        </form>
    </div>
{% endblock %}