{% extends 'base.html.twig' %}

{% block title %}Inscription{{ parent() }}{% endblock %}

{% block stylesheets %}{{ asset('build/css/apropos.css') }}{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.surname) }}
    {{ form_row(form.username) }}
    <span title="Nous en avons besoin pour votre avatar">{{ form_row(form.genre) }}</span>
    {{ form_row(form.email) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}

    <button type="submit">S'inscrire !</button>
    {{ form_end(form) }}

{% endblock %}