{% extends 'base.html.twig' %}

{% block title %}A propos{{ parent() }}{% endblock %}

{% block stylesheets %}{{ asset('build/apropos.css') }}{% endblock %}

{% block body %}
    <div class="margin-left">
        <h1 class="titre">Apprenez-en plus sur Itin'r</h1>
        <div class="sepa-title"></div>

        <p class="description">Itin'r est un Lorem ipsum dolor sit amet, consectetur adipiscing elit. In cursus finibus justo sit amet tempor. Praesent volutpat varius arcu ac tincidunt. Fusce nunc dolor, elementum vel mattis facilisis, vestibulum vel sem. Suspendisse nec velit malesuada, sagittis mauris quis, rhoncus purus. Pellentesque et diam a lorem rhoncus faucibus. Nulla non massa et dolor egestas viverra. Praesent dictum purus vel magna convallis, non eleifend tellus malesuada.</p>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In cursus finibus justo sit amet tempor.</p>

        <p class="author-title">Itin'r a été développé par:</p>
        <div class="author-container">
            <div class="author">
                <div class="author-avatarcontainer"><img src="{{ asset('images/moi.png') }}" alt="Avatar auteur" class="author-avatar"></div><p>Jules Dupont</p>
            </div>
        </div>

        <h3 class="subtitle">Comment contribuer à ce projet</h3>
        <div class="sepa-subtitle"></div>

        <p class="opensource-toptext">Vous êtes développeur ou simplement curieux ?</p>
        <a class="opensource" href="https://github.com"><img class="opensource-emoji" src="{{ asset('images/vemoji.png') }}" alt="Emoji V">Itin'r est 100% open-source !<img class="opensource-gitimg" src="{{ asset('images/github.png') }}" alt="Icône Git"></a>
        <p class="opensource-bottomtext">Votre aide est donc la bienvenue dans la section Issues 😊</p>

        <p class="fonctionnement-text">Itin'r est un projet Symfony,<img src="{{ asset('images/symfony.png') }}" alt="Logo Symfony" class="fonctionnement-symfonyimg fonctionnement-img"></p>
        <p class="fonctionnement-text">et le concepteur d'itinéraires fonctionne avec la Google Maps API v3<img src="{{ asset('images/gmaps.png') }}" alt="Logo Google Maps" class="fonctionnement-gmapsimg fonctionnement-img"></p>
        <p class="fonctionnement-questions">Si vous avez des questions à propos de l’utilisation de Symfony ou de l’API Google Maps, n’hésitez surtout pas à me <a href="{{ path('contact') }}">les poser</a></p>
    </div>
{% endblock %}