{% extends 'base.html.twig' %}

{% block title %}Chercher{{ parent() }}{% endblock %}

{% block stylesheets %}{{ asset('build/chercher.css') }}{% endblock %}
{% block stylesheets2 %}{{ asset('build/form_theme.css') }}{% endblock %}

{% form_theme form 'form/radio_inputs.html.twig' %}

{% block body %}
    {% include 'flash_messages.html.twig' %}

    <h1 class="titre margin-left">Vous prévoyez une séance de course à pied, une sortie vélo, une randonnée ou autre ? Trouvez l’itinéraire qu’il vous faut grâçe à Itin'r.</h1>
    <p class="sous-titre margin-left">Nouvelle, nouveau ? <a href="{{ path('aide') }}" class="sous-titre-aide">Découvrez nos tutoriaux </a>ou lisez <a href="{{ path('aide') }}" class="sous-titre-tuto">Comment trouver un itinéraire</a></p>

    <div class="titre-separation margin-left"></div>

    <div class="form-container">
        {{ form_start(form) }}
        <div class="lieu-input-container">
            {{ form_row(form.lieu) }}
            <button id="lieu_gps_btn" name="chercher[gps]" type="button" onclick="fillInAdressGeolocation()"><img src="{{ asset('images/chercher_gps.png') }}" alt="Icône gps" class="lieu-gps-btn-img"/></button>
        </div>
        <div class="form-part1-container">
            <h2 class="titre-form-part">Affinez votre recherche</h2>
            <div class="titre-form-part-separation"></div>

            <h3 class="sous-titre-form-part1">Quel type d’itinéraire cherchez-vous ?</h3>
            {{ form_row(form.typeSport) }}
            {#<div class="typeSport-container">
                <div class="typeSport-input-container">
                    <input id="chercher_typeSport_0" name="chercher[typeSport]" required="required" value="marche" type="radio">
                    <label for="chercher_typeSport_0" class="required typeSport-input"><span></span><img src="{{ asset('images/chercher_typeSport3.png') }}" alt="Icône marche"/>Marche</label>
                </div>

                <div class="typeSport-input-container">
                    <input id="chercher_typeSport_1" name="chercher[typeSport]" required="required" value="course" type="radio">
                    <label for="chercher_typeSport_1" class="required typeSport-input"><span></span><img src="{{ asset('images/chercher_typeSport2.png') }}" alt="Icône course"/>Course à pied</label>
                </div>

                <div class="typeSport-input-container">
                    <input id="chercher_typeSport_2" name="chercher[typeSport]" required="required" value="veloroute" type="radio">
                    <label for="chercher_typeSport_2" class="required typeSport-input"><span></span><img src="{{ asset('images/chercher_typeSport4.png') }}" alt="Icône vélo de route"/>Vélo de route</label>
                </div>

                <div class="typeSport-input-container">
                    <input id="chercher_typeSport_3" name="chercher[typeSport]" required="required" value="vtt" type="radio">
                    <label for="chercher_typeSport_3" class="required typeSport-input"><span></span><img src="{{ asset('images/chercher_typeSport5.png') }}" alt="Icône VTT"/>VTT</label>
                </div>

                <div class="typeSport-input-container">
                    <input id="chercher_typeSport_4" name="chercher[typeSport]" required="required" value="autre" type="radio">
                    <label for="chercher_typeSport_4" class="required typeSport-input"><span></span><img src="{{ asset('images/chercher_typeSport1.png') }}" alt="Icône autre"/>Autre</label>
                </div>
            </div>#}
        </div>

        <div class="form-part2-container">
            <h2 class="titre-form-part">Ou recherchez un parcours précis</h2>
            <div class="titre-form-part-separation"></div>
            {{ form_row(form.recherchePrecise) }}
        </div>
        <div class="submit-container"><button type="submit" class="submit-input">Rechercher</button></div>
        {{ form_end(form) }}

    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxvWmkG3pYY6DaFxUzvRiyvttqYjdX15Q&libraries=places&callback=initAutocomplete" async defer></script>
    <script>
        var placeSearch, autocomplete, geocoder;

        //Autocompletion de l'adresse
        function initAutocomplete() {
            geocoder = new google.maps.Geocoder();
            autocomplete = new google.maps.places.Autocomplete(
                (document.getElementById('chercher_lieu')),
                {types: ['(cities)']});

            autocomplete.addListener('place_changed', fillInAddress);
        }

        function codeAddress(address) {
            geocoder.geocode( { 'address': address}, function(results, status) {
                if (status == 'OK') {
                    alert(results[0].geometry.location);
                } else {
                    alert('Le Geocoder a echoué. Raison: ' + status);
                }
            });
        }

        function fillInAddress() {
            var place = autocomplete.getPlace();
            var placeIdInput = document.getElementById('chercher_placeId');
            placeIdInput.value = place.place_id;   //On met le placeId du lieu qui vient d'être rentré dans l'hidden input placeId
        }

        //Rempli la searchbox de notre localisation lorsqu'on appuye sur le bouton géolocalisation
        function fillInAdressGeolocation(){
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position){   //recupère notre position
                    geoPos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    geocoder.geocode({
                            'location': geoPos
                        }, function(results, status) {
                        if (status === google.maps.GeocoderStatus.OK) {
                            if (results[1]) {
                                geocoder.geocode({'placeId': results[1].place_id}, function(results, status) {
                                    if (status !== 'OK') {
                                        alert('Le Geocoder a echoué. Raison: ' + status);
                                        return;
                                    }
                                    var geoLocationResult = results[0].formatted_address.substring(6 , results[0].formatted_address.length);   //Un peu à l'arrache, mais on passe de 02880, Bucy-le-Long, France à Bucy-le-Long, France
                                    document.getElementById('chercher_lieu').value = geoLocationResult;
                                    var placeIdInput = document.getElementById('chercher_placeId');
                                    placeIdInput.value = place.place_id;
                                });
                            } else {
                                alert('Aucun résultat trouvé');
                            }
                        } else {
                            alert('Le Geocoder a echoué. Raison: ' + status);
                        }
                    });

                }, function() {
                    handleLocationError(true, infoWindow, map.getCenter());
                });

            } else {
                // Le navigateur ne supporte pas la géolocalisation ou elle a été refusé
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }
    </script>
{% endblock %}