{% extends 'base.html.twig' %}

{% block title %}Modifiez votre profil{{ parent() }}{% endblock %}

{% block stylesheets %}{{ asset('build/modifier_profil.css') }}{% endblock %}
{% block stylesheets2 %}{{ asset('build/form_theme.css') }}{% endblock %}

{% form_theme form 'form/errors.html.twig' 'form/fields.html.twig' %}

{% block body %}

    <h1 class="titre margin-left">Modifiez votre profil</h1>
    <div class="titre-separation margin-left"></div>

    <div class="form-container">
        <a class="newAvatar-container" href="{{ path('newAvatar') }}"><div class="newAvatar-avatar-container"><img src="{{ asset(app.user.image) }}" class="newAvatar-avatar"/></div><p>Nouvel avatar<img src="{{ asset('images/newAvatar_edit.png') }}" alt="Nouvel avatar"></p></a>

        {{ form_start(form) }}
        {{ form_row(form.surname) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}
        <button type="submit" class="submit-input">Appliquer les modifications</button>
        {{ form_end(form) }}
    </div>

{% endblock %}