{% extends 'base.html.twig' %}

{% block title %}Modifiez votre profil{{ parent() }}{% endblock %}

{% block stylesheets %}{{ asset('build/modifier_profil.css') }}{% endblock %}

{% block body %}

    <h1 class="titre margin-left">Modifiez votre profil</h1>
    <div class="titre-separation margin-left"></div>

    <div class="form-container">
        <a class="newAvatar-container" href="{{ path('newAvatar') }}"><div class="newAvatar-avatar-container"><img src="{{ app.user.image }}" class="newAvatar-avatar"/></div><p>Nouvel avatar<img src="{{ asset('images/newAvatar_edit.png') }}" alt="Nouvel avatar"></p></a>

        {{ form_start(form) }}
        {{ form_row(form.surname) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        <div title="Nous en avons besoin pour votre avatar" class="genre-container">
            <div class="genre-input-container">
                <input id="user_genre_0" name="user[genre]" required="required" value="homme" type="radio" {% if genre == "homme" %}checked{% endif %}>
                <label for="user_genre_0" class="required"><span></span>Homme</label>
            </div>

            <div class="genre-input-container">
                <input id="user_genre_1" name="user[genre]" required="required" value="femme" type="radio" {% if genre == "femme" %}checked{% endif %}>
                <label for="user_genre_1" class="required"><span></span>Femme</label>
            </div>

            <div class="genre-input-container">
                <input id="user_genre_2" name="user[genre]" required="required" value="autre" type="radio" {% if genre == "autre" %}checked{% endif %}>
                <label for="user_genre_2" class="required"><span></span>Autre</label>
            </div>
        </div>
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}
        <button type="submit" class="submit-input">Appliquer les modifications</button>
        {{ form_end(form) }}
    </div>

{% endblock %}