{% extends 'base.html.twig' %}

{% block title %}Mon profil{{ parent() }}{% endblock %}

{% block stylesheets %}{{ asset('build/profil.css') }}{% endblock %}

{% block body %}
    {% include 'flash_messages.html.twig' %}

    <h1 class="titre margin-left">Mon profil</h1>
    <div class="titre-separation margin-left"></div>

    <div class="section1-container">
        <div class="bonjour-container margin-left">
            <div class="avatar-container mon-avatar-container"><img src="{{ asset(app.user.image) }}" class="avatar"/></div>
            <p>Bonjour <span class="bonjour-nom">{{ app.user.surname }}</span></p></div>
        <a href="{{ path('modifier_profil', {'username': app.user.username}) }}" class="modifier margin-left">Modifier mes informations<img src="{{ asset('images/modifier_profil.png') }}"/></a>
    </div>

    <div class="informations-container margin-left">
        <h2 class="informations-titre">Mes informations</h2>
        <p class="informations-username informations-content">Nom d'utilisateur<span>{{ app.user.username }}</span></p>
        <p class="informations-email informations-content">Adresse email<span>{{ app.user.email }}</span></p>
        <a href="/conditions-generales#data" title="Spoil: pas grand chose" class="informations-privacy"><img src="{{ asset('images/profil_privacy.png') }}"/>Que faisons-nous de vos données ?</a>
    </div>

    <div class="itineraires-container margin-left">
        {% if nbPaths is defined %}
            <h2 class="itineraires-titre">Mes itinéraires<span>{{ nbPaths }}</span></h2>
            <div class="resultats-bigcontainer">
                <div class="resultats-container">
                    {% for path in resultatPath %}
                        <a class="resultat-container" href="{{ path('itineraire', {'slug': path.slug}) }}">
                            <p class="resultat-titre">{{ path.titre }}</p>
                            <div class="resultat-titre-sepa"></div>
                            {% set nbSport = 0 %}
                            {% if path.typeSportMarche %}
                                {% set nbSport = nbSport + 1 %}
                            {% endif %}
                            {% if path.typeSportCourse %}
                                {% set nbSport = nbSport + 1 %}
                            {% endif %}
                            {% if path.typeSportVelo %}
                                {% set nbSport = nbSport + 1 %}
                            {% endif %}
                            {% if path.typeSportVTT %}
                                {% set nbSport = nbSport + 1 %}
                            {% endif %}
                            {% if path.typeSportAutre %}
                                {% set nbSport = nbSport + 1 %}
                            {% endif %}
                            {% if nbSport != 0 %}
                                <p class="resultat-typeSport resultat-margin-left">
                                    {% if path.typeSportMarche %}
                                        <span>
                                            <img src="{{ asset('images/chercher_typeSport3.png') }}"/>
                                            {% if nbSport <= 3 %}
                                                Marche
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                    {% if path.typeSportCourse %}
                                        <span>
                                            <img src="{{ asset('images/chercher_typeSport2.png') }}"/>
                                            {% if nbSport <= 3 %}
                                                Course à pied
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                    {% if path.typeSportVelo %}
                                        <span>
                                            <img src="{{ asset('images/chercher_typeSport4.png') }}"/>
                                            {% if nbSport <= 3 %}
                                                Vélo de route
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                    {% if path.typeSportVTT %}
                                        <span>
                                            <img src="{{ asset('images/chercher_typeSport5.png') }}"/>
                                            {% if nbSport <= 3 %}
                                                VTT
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                    {% if path.typeSportAutre %}
                                        <span>
                                            <img src="{{ asset('images/chercher_typeSport1.png') }}"/>
                                            {% if nbSport <= 3 %}
                                                Autre
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                </p>
                            {% endif %}
                            <p class="resultat-presDe resultat-margin-left">près de <span>{{ path.pathLocation }}</span></p>
                            <p class="resultat-distance" title="ou {{ path.distance }} mètres"><span>{{ (path.distance / 1000)|round(2, 'floor') }}</span>km</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <h2 class="itineraires-titre">Mes itinéraires<span>0</span></h2>
            <p class="itineraires-null">Vous n'avez toujours pas posté d'itinéraires 🙁</p>
            <a class="itineraires-null-a" href="{{ path('aide') }}">Découvrez comment</a>
        {% endif %}
    </div>

    <button class="delete-container margin-left" id="deleteBtn">Supprimer mon compte et mes itinéraires</button>

    <div class="delete-container margin-left" id="deleteNotice">
        <p>Voulez-vous vraiment supprimer votre compte et vos itinéraires ? Cette action est irréversible et nous rendra très triste :(</p>
        <button class="deleteNotice-btn" id="deleteClose">Annuler</button>
        <a class="deleteNotice-btn" id="deleteConfirme" href="{{ path('delete_profil', {'username': app.user.username}) }}">Supprimer</a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var deleteBtn = document.getElementById('deleteBtn');
        var deleteNotice = document.getElementById('deleteNotice');
        var deleteClose = document.getElementById('deleteClose');

        deleteBtn.onclick = function() {
            deleteBtn.style.display = "none";
            deleteNotice.style.display = "block";
        };

        deleteClose.onclick = function() {
            deleteBtn.style.display = "block";
            deleteNotice.style.display = "none";
        }
    </script>
{% endblock %}