{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{{ parent() }}{% endblock %}

{% block stylesheets %}{{ asset('build/profil.css') }}{% endblock %}

{% block body %}
    {% include 'flash_messages.html.twig' %}

    <h1 class="titre margin-left"><div class="avatar-container"><img src="{{ asset(user.image) }}" class="avatar"/></div>{{ user.username }}</h1>
    <div class="titre-separation margin-left"></div>

    <div class="itineraires-container margin-left">
        {% if nbPaths is defined %}
            <h2 class="itineraires-titre">{{ user.surname }} a déjà partagé <span class="itineraires-titre-profil-span">{{ nbPaths }}</span> itinéraires</h2>
            <div class="resultats-bigcontainer">
                <div class="resultats-container">
                    {% for path in resultatPath %}
                        <a class="resultat-container" href="{{ path('itineraire', {'slug': path.slug}) }}">
                            <p class="resultat-titre">{{ path.titre }}</p>
                            <div class="resultat-titre-sepa"></div>
                            {% if path.typeSport != null %}
                                <p class="resultat-typeSport resultat-margin-left">
                                    {% if path.typeSport == "marche" %}
                                        <img src="{{ asset('images/chercher_typeSport3.png') }}"/>
                                        Marche
                                    {% elseif path.typeSport == "course" %}
                                        <img src="{{ asset('images/chercher_typeSport2.png') }}"/>
                                        Course à pied
                                    {% elseif path.typeSport == "veloroute" %}
                                        <img src="{{ asset('images/chercher_typeSport4.png') }}"/>
                                        Vélo de route
                                    {% elseif path.typeSport == "vtt" %}
                                        <img src="{{ asset('images/chercher_typeSport5.png') }}"/>
                                        VTT
                                    {% elseif path.typeSport == "autre" %}
                                        <img src="{{ asset('images/chercher_typeSport1.png') }}"/>
                                        Autre
                                    {% endif %}
                                </p>
                            {% endif %}
                            <p class="resultat-presDe resultat-margin-left">près de <span>{{ path.pathLocation }}</span></p>
                            <p class="resultat-distance" title="ou {{ path.distance }} mètres"><span>{{ (path.distance / 1000)|round(2, 'floor') }}</span>km</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <h2 class="itineraires-vide"><img src="{{ asset('images/profil_vide.png') }}"/>C’est un peu vide ici...</h2>
            <p class="itineraires-vide-p"><span>{{ user.surname }}</span> n’a toujours pas partagé d’itinéraires</p>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}