{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{{ parent() }}{% endblock %}

{% block stylesheets %}{{ asset('build/profil.css') }}{% endblock %}

{% block body %}
    {% include 'flash_messages.html.twig' %}

    <h1 class="titre margin-left"><div class="avatar-container"><img src="{{ asset(user.image) }}" class="avatar"/></div>{{ user.username }}</h1>
    <div class="titre-separation margin-left"></div>

    <div class="itineraires-container margin-left">
        {% if nbPaths is defined %}
            <h2 class="itineraires-titre">{{ user.surname }} a déjà partagé <span class="itineraires-titre-profil-span">{{ nbPaths }}</span> itinéraires</h2>
            <div class="resultats-bigcontainer">
                <div class="resultats-container">
                    {% for path in resultatPath %}
                        <a class="resultat-container" href="{{ path('itineraire', {'slug': path.slug}) }}">
                            <p class="resultat-titre">{{ path.titre }}</p>
                            <div class="resultat-titre-sepa"></div>
                            {% set nbSport = 0 %}
                            {% if path.typeSportMarche %}
                                {% set nbSport = nbSport + 1 %}
                            {% endif %}
                            {% if path.typeSportCourse %}
                                {% set nbSport = nbSport + 1 %}
                            {% endif %}
                            {% if path.typeSportVelo %}
                                {% set nbSport = nbSport + 1 %}
                            {% endif %}
                            {% if path.typeSportVTT %}
                                {% set nbSport = nbSport + 1 %}
                            {% endif %}
                            {% if path.typeSportAutre %}
                                {% set nbSport = nbSport + 1 %}
                            {% endif %}
                            {% if nbSport != 0 %}
                                <p class="resultat-typeSport resultat-margin-left">
                                    {% if path.typeSportMarche %}
                                        <span>
                                            <img src="{{ asset('images/chercher_typeSport3.png') }}"/>
                                            {% if nbSport <= 3 %}
                                                Marche
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                    {% if path.typeSportCourse %}
                                        <span>
                                            <img src="{{ asset('images/chercher_typeSport2.png') }}"/>
                                            {% if nbSport <= 3 %}
                                                Course à pied
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                    {% if path.typeSportVelo %}
                                        <span>
                                            <img src="{{ asset('images/chercher_typeSport4.png') }}"/>
                                            {% if nbSport <= 3 %}
                                                Vélo de route
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                    {% if path.typeSportVTT %}
                                        <span>
                                            <img src="{{ asset('images/chercher_typeSport5.png') }}"/>
                                            {% if nbSport <= 3 %}
                                                VTT
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                    {% if path.typeSportAutre %}
                                        <span>
                                            <img src="{{ asset('images/chercher_typeSport1.png') }}"/>
                                            {% if nbSport <= 3 %}
                                                Autre
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                </p>
                            {% endif %}
                            <p class="resultat-presDe resultat-margin-left">près de <span>{{ path.pathLocation }}</span></p>
                            <p class="resultat-distance" title="ou {{ path.distance }} mètres"><span>{{ (path.distance / 1000)|round(2, 'floor') }}</span>km</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <h2 class="itineraires-vide"><img src="{{ asset('images/profil_vide.png') }}"/>C’est un peu vide ici...</h2>
            <p class="itineraires-vide-p"><span>{{ user.surname }}</span> n’a toujours pas partagé d’itinéraires</p>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}