<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, maximum-scale=1"/>
    <meta property="og:url"                content="https://www.itinr.fr/concepteur" />
    <meta property="og:title"              content="Concepteur | itin'R" />
    <meta property="og:description"        content="itin'R vous permet, grâce à Google Maps, de calculer vos randonnées, vos itinéraires à vélo, à VTT ou encore à course à pied pour avoir des informations dessus, comme la distance, le denivelé ou encore la vitesse. Ensuite, vous pourrez également partager ce parcours avec notre communauté." />
    <meta property="og:image"              content="https://hostpic.xyz/files/15650112683634897101.jpg" />
    <title>{% block title %} | itin'R{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    <link rel="icon" href="{{ asset('favicon.ico') }}">
    <link rel="stylesheet" href="{{ asset('build/layout.css') }}">
    <link rel="stylesheet" href="{% block stylesheets %}{% endblock %}">
    <link rel="stylesheet" href="{% block stylesheets2 %}{% endblock %}">
</head>
<body>
<section class="desktop">
    <header class="header">
        <a href="{{ path("concepteur") }}" class="header-itinr">
            <img src="{{ asset('images/logo32b.png') }}" alt="Logo itin'R">
            <h1 class="header-title">itin'R</h1><p class="header-beta">Bêta</p>
        </a>


        <div class="header-navbar">
            <ul class="nav_onglets">
                <li class="nav-item"><a href="{{ path("concepteur") }}">Concepteur d'itinéraires</a></li>
                <li class="nav-item"><a href="{{ path("recherche") }}">Trouver un itinéraire</a></li>
                <li class="nav-item nav-item-plus" id="plus">
                    <a>Plus <img src="{{ asset('images/caretdown.png') }}" alt="Déroulant" class="caretdown" id="caret"/></a>
                </li>
            </ul>
            <div class="sub-nav" id="accordeon">
                <ul class="sub-nav-ul">
                    <li class="sub-nav-item"><a href="{{ path("recherche-utilisateur") }}">Trouver un utilisateur</a></li>
                    <li class="sub-nav-item"><a href="{{ path("contact") }}">Contact</a></li>
                    <li class="sub-nav-item"><a href="{{ path("aide") }}">Aide</a></li>
                    <li class="sub-nav-item"><a href="{{ path("apropos") }}">À propos</a></li>
                </ul>
            </div>
        </div>

        {% if app.user %}
            <div class="header-account">
                <a href="{{ path('profil', {'username': app.user.username}) }}" class="header-account-signed btn-account btn-account-gauche profil-container">
                    {{ app.user.surname }}
                    <div class="user-image-container"><img src="{{ asset(app.user.image) }}" class="header-account-user-image"/></div>
                </a>
                <a href="{{ path('security_logout') }}" class="header-account-signout btn-account btn-account-droite">Déconnexion</a>
            </div>
        {% else %}
            <div class="header-account">
                <a class="header-account-signup btn-account btn-account-gauche" href="{{ path("inscription") }}">Inscription</a>
                <a class="header-account-signin btn-account" href="{{ path("security_login") }}">Connexion</a>
            </div>
        {% endif %}

        <div class="header-hamburgermenu">
            <div class="header-hamburgermenu-hamburger-container">
                <div class="menuEight">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </header>

    {# Menu Hamburger si smartphone #}
    <div id="hamburger-menu" class="hamburger-menu">
        <div class="hamburger-menu-content">
            {% if app.user %}
                <div class="hamburger-menu-header-account">
                    <a href="{{ path('profil', {'username': app.user.username}) }}" class="header-account-signed btn-account btn-account-gauche profil-container">
                        {{ app.user.surname }}
                        <div class="user-image-container"><img src="{{ asset(app.user.image) }}" class="header-account-user-image"/></div>
                    </a>
                    <a href="{{ path('security_logout') }}" class="header-account-signout btn-account btn-account-droite">Déconnexion</a>
                </div>
            {% else %}
                <div class="hamburger-menu-header-account">
                    <a class="header-account-signup btn-account btn-account-gauche" href="{{ path("inscription") }}">Inscription</a>
                    <a class="header-account-signin btn-account" href="{{ path("security_login") }}">Connexion</a>
                </div>
            {% endif %}

            <ul class="hamburger-menu-nav-onglets">
                <li class="hamburger-menu-nav-item nav-item"><a href="{{ path("concepteur") }}">Concepteur d'itinéraires</a></li>
                <li class="hamburger-menu-nav-item nav-item"><a href="{{ path("recherche") }}">Trouver un itinéraire</a></li>
                <li class="hamburger-menu-nav-item nav-item"><a href="{{ path("recherche-utilisateur") }}">Trouver un utilisateur</a></li>
                <li class="hamburger-menu-nav-item nav-item"><a href="{{ path("contact") }}">Contact</a></li>
                <li class="hamburger-menu-nav-item nav-item"><a href="{{ path("aide") }}">Aide</a></li>
                <li class="hamburger-menu-nav-item nav-item"><a href="{{ path("apropos") }}">À propos</a></li>
            </ul>
        </div>
    </div>

    <section id="content">
        {% block body %}{% endblock %}
    </section>

    {% if app.request.cookies.get('cookies_consent') == "" %}
        {% include 'cookies_consent.html.twig' %}
    {% endif %}

    <footer class="footer" id="footer">
        <div class="footer-content">
            <div class="footer-contentrs">
                <ul class="footer-rs">
                    <li class="footer-rs-li"><a href="fb.me/itinr"><img src="{{ asset('images/facebook.png') }}" alt="Icône réseau social"></a></li>
                    <li class="footer-rs-li"><a href="https://twitter.com"><img src="{{ asset('images/twitter.png') }}" alt="Icône réseau social"></a></li>
                    <li class="footer-rs-li"><a href="https://instagram.com"><img src="{{ asset('images/instagram.png') }}" alt="Icône réseau social"></a></li>
                </ul>
            </div>
            <div class="footer-contentseparation"></div>
            <div class="footer-link-container"><a class="footer-link" href="{{ path('conditions') }}">Conditions générales</a><span>-</span><a class="footer-link" href="{{ path('licences') }}">Licences</a></div>
            <p class="footer-author">Site réalisé par Jules DUPONT</p>
            <p class="footer-date">2018</p>
        </div>
    </footer>
</section>

<section class="mobile">
    <div class="mobile-header">
        <img src="{{ asset('images/logo32b.png') }}" alt="Logo itin'R">
        <h1 class="mobile-header-title header-title">itin'R</h1><p class="header-beta">Bêta</p>
    </div>

    <div class="mobile-comingsoon">
        <img src="{{ asset('images/comingsoon.png') }}" alt="Coming soon icône">
        <p>Coming soon !</p>
    </div>

    <p class="mobile-unavailable">itin’R n’est pas disponible<br/>sur mobiles 😕</p>
</section>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% block javascripts %}
    <script>
        var plus = document.getElementById("plus");
        var accordeon = document.getElementById("accordeon");
        var caret = document.getElementById("caret");

        plus.onclick = function () {
            var classCaret = caret.className;

            if (classCaret == "caretdown") {
                caret.className = "caretup";
                accordeon.style.display = "block";
            } else {
                caret.className = "caretdown";
                accordeon.style.display = "none";
            }
        };
    </script>
    <script>
        var content = document.getElementById("content");
        var hamburgerMenu = document.getElementById("hamburger-menu");

        var tailleVoulu = window.innerHeight - 80 - 30;

        if (content.offsetHeight < tailleVoulu){
            content.style.height = tailleVoulu + 'px';
        }

        var tailleSansHeader = window.innerHeight - 80;
        hamburgerMenu.style.height = tailleSansHeader + 'px';

        $('.menuEight').click(function () {
            $(this).toggleClass('clickMenuEight');

            $(hamburgerMenu).toggleClass('hamburger-menu-display');
        });
    </script>
{% endblock %}
</body>
</html>