<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} | Movee{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/layout.css') }}">
    <link rel="stylesheet" href="{% block stylesheets %}{% endblock %}">
    <link rel="stylesheet" href="{% block stylesheets2 %}{% endblock %}">
    <link rel="stylesheet" href="{{ asset('build/flash_messages.css') }}">
</head>
<body>

    <header class="header">
        <a href="{{ path("concepteur") }}"><div class="header-logo"><p class="header-logo-txt">Logo</p></div></a> <!-- à remplacer par l'img du logo -->
        <a href="{{ path("concepteur") }}"><h1 class="header-title">Movee</h1></a>

        <div class="header-navbar">
            <ul class="nav_onglets">
                <li class="nav-item"><a href="{{ path("concepteur") }}">Concepteur d'itinéraires</a></li>
                <li class="nav-item"><a href="{{ path("chercher") }}">Trouver un itinéraire</a></li>
                <li class="nav-item nav-item-plus" id="plus">
                    <a>Plus <img src="{{ asset('images/caretdown.png') }}" alt="Déroulant" class="caretdown" id="caret"/></a>
                </li>
            </ul>
            <div class="sub-nav" id="accordeon">
                <ul class="sub-nav-ul">
                    <li class="sub-nav-item"><a href="{{ path("contact") }}">Contact</a></li>
                    <li class="sub-nav-item"><a href="{{ path("aide") }}">Aide</a></li>
                    <li class="sub-nav-item"><a href="{{ path("apropos") }}">À propos</a></li>
                </ul>
            </div>
        </div>

        {% if app.user %}
            <div class="header-account">
                <a href="{{ path('profil', {'username': app.user.username}) }}" class="header-account-signed btn-account btn-account-gauche profil-container">
                    {{ app.user.surname }}
                    <div class="user-image-container"><img src="{{ asset(app.user.image) }}" class="header-account-user-image"/></div>
                </a>
                <a href="{{ path('security_logout') }}" class="header-account-signout btn-account">Déconnexion</a>
            </div>
            {% else %}
                <div class="header-account">
                    <a class="header-account-signup btn-account btn-account-gauche" href="{{ path("inscription") }}">Inscription</a>
                    <a class="header-account-signin btn-account" href="{{ path("security_login") }}">Connexion</a>
                </div>
        {% endif %}
    </header>

    <section id="content">
{% block body %}
{% endblock %}
    </section>

    <footer class="footer" id="footer">
        <div class="footer-content">
            <div class="footer-contentrs">
                <ul class="footer-rs">
                    <li class="footer-rs-li"><a href="https://facebook.com"><img src="{{ asset('images/facebook.png') }}" alt="Icône réseau social"></a></li>
                    <li class="footer-rs-li"><a href="https://twitter.com"><img src="{{ asset('images/twitter.png') }}" alt="Icône réseau social"></a></li>
                    <li class="footer-rs-li"><a href="https://instagram.com"><img src="{{ asset('images/instagram.png') }}" alt="Icône réseau social"></a></li>
                    <li class="footer-rs-li"><a href="https://snapchat.com"><img src="{{ asset('images/snapchat.png') }}" alt="Icône réseau social"></a></li>
                    <li class="footer-rs-li"><a href="https://youtube.com"><img src="{{ asset('images/youtube.png') }}" alt="Icône réseau social"></a></li>
                </ul>
            </div>
            <div class="footer-contentseparation"></div>
            <p class="footer-author">Site réalisé par Jules DUPONT</p>
            <p class="footer-date">2018</p>
        </div>
    </footer>

{% block javascripts %}{% endblock %}
<script src="{{ asset('build/header.js') }}"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script>
    var content = document.getElementById("content");

    var tailleVoulu = window.innerHeight - 80 - 30;

    if (content.offsetHeight < tailleVoulu){
        content.style.height = tailleVoulu + 'px';
    }
</script>
</body>
</html>